/* Logo customizada NIVEA */
.logo-nivea {
    width: 80px;
    height: 80px;
    background-color: #002E7A;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* --- ESTILOS DO CARROSSEL (BOLINHAS) --- */

/* elipse escura de fundo => cresce quando o mouse passa por cima. */
.indicator-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
    padding: 8px 12px;
    display: inline-flex;
    gap: 8px;
    transition: transform 0.3s ease, padding 0.3s ease;
    cursor: pointer;
}

.indicator-wrapper:hover {
    transform: scale(1.4); 
    padding: 10px 16px;
}

/* Bolinha padrão */
.carousel-dot {
    width: 8px;
    height: 8px;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease;
    cursor: pointer;
    border: none;
}

/* Bolinha ativa (simbolizando a foto sendo mostrada) */
.carousel-dot.active {
    width: 24px; /* Estica a bolinha atual */
    background-color: #FFC72C; /* Amarelo da Nivea Q10 */
}

/* mudança de fonte global
html {
    transition: font-size 0.3s ease;
}


/* --- CLASSES PARA O MODO ALTO CONTRASTE --- */
body.alto-contraste {
    background-color: #000000 !important;
    color: #FFFFFF !important;
}

body.alto-contraste .secao-clara, 
body.alto-contraste .secao-cinza,
body.alto-contraste .card-passo,
body.alto-contraste .card-produto {
    background-color: #121212 !important;
    border-color: #FFFF00 !important;
}

body.alto-contraste .title-color {
    color: #FFFF00 !important;
}

body.alto-contraste .desc-color {
    color: #FFFFFF !important;
}

body.alto-contraste header {
    background-color: #000000 !important;
    border-bottom: 2px solid #FFFF00;
}

body.alto-contraste .logo-nivea {
    background-color: #000;
    border-color: #FFFF00;
    color: #FFFF00;
}

body.alto-contraste .border-img {
    border: 2px solid #FFFF00 !important;
}